  	<h3 style="color: white" ><%= link_to "Add Item's", new_item_path %></h3>
<% @restaurants.each do |restaurant|%>
  <p style="color: white"><%= restaurant.name%>&#160;
  	<%= link_to 'edit', edit_restaurant_path(current_user, restaurant)%>&#160;
  	<%= link_to "Add Item to menu", new_restaurant_item_path(restaurant) %>
  </p>
<% end %>
